
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}

.logout{
  cursor: pointer;
}
