<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button
            (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LOGO</a></div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <ng-container *ngIf="(isAuth$ | async);else loginTemp">
        <li><a routerLink="/training">Training</a></li>
        <li><a (click)="onLogout()" class="logout">Logout</a></li>
      </ng-container>
      <ng-template #loginTemp>
        <li><a routerLink="/signup">Signup</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ng-template>
    </ul>
  </div>
</mat-toolbar>
